*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-main: #464646;
    --bg-card: #2D2727;
    --border-color: #efc745; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
    background-color: var(--bg-main);
}
h1{
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    font-size: 4rem;
}
span{
    color: var(--border-color);
}
#card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.card{
    width: 10rem;
    height: 10rem;
    background-color: var(--bg-card);
    padding: 2rem;
    background-size: contain;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.6rem;
}
